html
    head
        title   HACKATHON
        script(src="/js/jquery.min.js")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(rel="stylesheet", type="text/css", href="/css/util.css")
        script(src="/js/client.js")
        //- script(src="/js/main.js")
    body