include header.pug
if message != null
    div #{message}
form(action="/login/register", method="post")
    div.table100.ver3.m-b-110
        div.table100-head    
                table
                    thead
                        tr.row100.head
                            th.cell100.column1 User - Registration
        div.table100-body.js-pscroll.ps.ps--active-y 
            table
                tbody
                    tr.row100.head
                        td.cell100.column1
                            label(for="username") User Name:
                        td.cell100.column2
                            input(type="text", name="username")
                    tr.row100.head        
                        td.cell100.column1
                            label(for="password") Password:
                        td.cell100.column2
                             input(type="password", name="password")
                    tr.row100.head
                        td.cell100.column1
                        td.cell100.column2     
                                button.button(type="submit") Register            